<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github自动提交commit工具</title>
    <link href="../assets/styles/element-ui2.13.min.css" rel="stylesheet" />
    <link href="../assets/styles/base.css" rel="stylesheet" />
    <link href="../assets/styles/autoCommit.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <el-container>
        <el-header>Header</el-header>
        <el-main>Main</el-main>
      </el-container>
    </div>
    </div>
  </body>
  <script src="../assets/scripts/vue.min.js"></script>
  <script src="../assets/scripts/element2.13.min.js"></script>
  <script>
    const vscode = acquireVsCodeApi();
    new Vue({
      el: '#app',
      data() {
        return {
          // userName: 18850985993,
          // password: 'HgbOBKoro1'
        };
      },
      mounted() {
        this.initListener();
      },
      methods: {
        // 登录
        login() {
          const { elUserName, elPassword } = this.$refs;
          const { userName, password } = this.$data;
          const formData = {
            username: String(userName),
            password: String(password)
          };
          if (!userName) {
            this.postMessage('用户名不能为空');
            elUserName.focus();
            return;
          }

          if (!password) {
            this.postMessage('密码不能为空');
            elPassword.focus();
            return;
          }

          this.postMessage('user-login-message', 'event', formData);
        },
        // 发送消息到插件
        postMessage(text, command = 'alert', params) {
          vscode.postMessage({
            command,
            text,
            params
          });
        },

        // 注册
        initListener() {
          window.addEventListener('message', event => {
            console.log('event', event);
            const { command, data } = event.data;
            console.log('登录成功 addEventListener', event);
            if (command === 'success') {
              // 登录成功
            }
          });
        }
      }
    }).$mount('#xpLogin');
  </script>
</html>
