#app{
  background: #272822;
  height: 100vh;
  color: #fff;
}

.el-main {
  background-color: #272822;
}

body > .el-container {
  margin-bottom: 40px;
}

.form_item {
  font-size: 16px;
}

.el-form-item__label{
  font-size: 16px;
  color: #fff;
}

.form-title {
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.form-title2 {
  width: 160px;
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}

.log_form_father{
  width: 600px;
}
.el-divider__text, .el-link{
  font-size: 20px;
}

.input_form{
  width: 200px;
}

.tip{
  margin-left: 160px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

