html,
body {
  height: 100%;
}

.device-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.device-select {
  padding: 10px 0 20px;
}

.form-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  padding: 8px 12px;
  /* width: 100%; */
  font-size: 16px;
}

.form-select:focus {
  border-color: #2b90d9;
  outline: none;
}

.device-preview {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.device-preview-head {
  background-color: #2b2b2b;
  color: #fff;
}

.device-navigate-info {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
}

.device-navigate-left {
  display: flex;
}

.device-navigate-time {
  flex: 1;
}

.device-navigate-right {
  display: flex;
  justify-content: flex-end;
}

.device-navigate-operator {
  margin: 0 3px;
}

.icon-signal-dot {
  font-size: 30px !important;
}

.icon-battery {
  font-size: 25px !important;
}

.device-navigate-bar {
  padding: 10px;
  display: flex;
}

.navigate-left {
}

.navigate-title {
  flex: 1;
}

.navigate-right {
}

.device-preview-body {
  border: none;
  flex: 1;
}
