.form-container {
  padding: 20px 15px;
  width: 400px;
  margin: 0 auto;
}

.form-head {
  margin-bottom: 20px;
}

.form-title {
  font-weight: bold;
  font-size: 30px;
}

.form-input-group {
  margin-bottom: 20px;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  padding: 8px 12px;
  width: 100%;
  font-size: 16px;
}

.form-input:focus {
  border-color: #2b90d9;
  outline: none;
}

.btn-login {
  padding: 8px 12px;
  background-color: #2b90d9;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.btn-login:hover {
  color: #fff;
}

.btn-login:focus {
  outline: none;
}

.btn-login:active {
  background-color: #a5dff9;
}
