#xpLogin {
  position: relative;
}
.form-container {
  padding: 20px 15px;
  width: 600px;
  margin: 0 auto;
}

.form-head {
  margin-bottom: 20px;
}

.form-title {
  font-weight: bold;
  font-size: 30px;
}

.form-input-group {
  margin-bottom: 20px;
  width: 600px;
  display: flex;
}
.form-input-group span {
  width: 100px;
  text-align: left;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  padding: 8px 12px;
  width: 67%;
  font-size: 16px;
}

.form-input:focus {
  border-color: #2b90d9;
  outline: none;
}
.exit-enter {
  position: absolute;
  right: 10%;
  top: 5%;
  background-color: #2b90d9;
  padding: 8px 12px;
  width: 100px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.btn-login {
  padding: 8px 12px;
  background-color: #2b90d9;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  width: 67%;
  margin: 0 auto;
}
.btn-login-loading {
  background: gray;
}

.btn-login:hover {
  color: #fff;
}

.btn-login:focus {
  outline: none;
}
.qrcode_info {
  display: flex;
  flex-direction: column;
}
.qrcode_info div {
  margin: 8px 0;
}
.qrcode_father {
  margin: 50px 0 0 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
#qrcode {
  padding: 25px;
  background: #fff;

}
.cursor {
  cursor: pointer;
}
